/*MTA.css*/

body {
  margin: 0 0 0 0 !important;
}

.mta_app {
  text-align: center;
  padding: 20px;
  background-color: #15142a;
  margin-bottom: 50px;
}

.mta_header {
  background-color: #15142a;
  color: white;
  font-weight: bold;
  padding: 5px;
  font-size: 24px;
  margin-bottom: 150px;
}

.mta_ads {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mta_slider {
  background-color: #15142a;
  text-align: center;
  padding: 20px;
}

.mta_slider-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.mta_slider-item:hover {
  transform: translateY(-5px);
}

.mta_item-thumbnail {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  border-radius: 8px;
}

.mta_item-title {
  margin-top: 10px;
  text-align: left;
  padding: 5px;
  color: #fff;
}

/* Media Queries for Different Resolutions */

@media screen and (max-width: 150px) {
  .mta_app {
    padding: 5px;
    margin-bottom: 10px;
  }

  .mta_header {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .mta_slider {
    padding: 5px;
  }

  .mta_item-title {
    text-align: center;
  }
}

@media screen and (min-width: 151px) and (max-width: 300px) {
  .mta_app {
    padding: 10px;
    margin-bottom: 20px;
  }

  .mta_header {
    margin-bottom: 40px;
    font-size: 20px;
  }

  .mta_slider {
    padding: 10px;
  }
}



@media screen and (max-width: 600px) {
  .mta_app {
    padding: 10px;
    margin-bottom: 30px;
  }

  .mta_header {
    margin-bottom: 50px;
  }

  .mta_slider {
    padding: 10px;
  }

  .mta_item-title {
    text-align: center;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for tablets */
  .mta_app {
    padding: 15px;
    margin-bottom: 40px;
  }

  .mta_header {
    margin-bottom: 100px;
  }

  .mta_slider {
    padding: 15px;
  }
}

@media screen and (min-width: 1025px) {
  /* Styles for larger screens (laptops, desktops, TVs, etc.) */
  .mta_app {
    padding: 20px;
    margin-bottom: 60px;
  }

  .mta_header {
    margin-bottom: 150px;
  }

  .mta_slider {
    padding: 20px;
  }
}