.react-multi-carousel-item {
    width: 150px !important;
    margin: 20px 10px;
}
.react-multiple-carousel__arrow, .react-multiple-carousel__arrow:hover, .react-multiple-carousel__arrow::before {
    background: transparent;
    color: black;
    position: absolute;
}
.channelListCarousel .react-multiple-carousel__arrow{
    top: 30%;
}
.popularListCarousel .react-multiple-carousel__arrow{
    top: 25%;
}
.channelListContainer{
    padding: 0 0 0 5%;
    margin-bottom: 0;
    // margin-top: -5%;
}
.gradient {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
.gradient:before {
background: transparent;
box-shadow: 0 0 0 1000p;
position: absolute;
height: 10%;
width: 1%;
content: '';
left: 0;
top: 0;
}
.channelListImg{
    width: 150px;
    height: 200px;
    border-radius: 10px;
}
.channelListName{
    font-size: small;
    color: white;
    margin-top: 5px;
    text-transform: capitalize;
    text-align: center;
}
.popularListImg{
    width: 160px;
    height: 110px;
    border-radius: 10px;
}
.popularListDiv{
    // margin-left: 50px;
    // margin-right: 50px;
}