fadeleft {
    position: absolute;
    display: block;
  
    width: 100px;
    height: 100%;

    z-index: 2;
  
    background-image: linear-gradient(to right, 
        rgba(20, 24, 42, 1), 
        rgba(20, 24, 42, 0)
    100%);
}
faderight {
    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
  
    width: 150px;
    height: 100%;

    z-index: 1;
  
    background-image: linear-gradient(to left, 
        rgba(20, 24, 42, 1), 
        rgba(20, 24, 42, 0)
    100%);
}
.slick-next {
    z-index: 2 !important;
}

.react-multi-carousel-item {
    width: 150px !important;
    margin: 20px 10px;
}
.channelListDiv{
    text-align: center;
    display: inline-flex;
}
.react-multiple-carousel__arrow, .react-multiple-carousel__arrow:hover, .react-multiple-carousel__arrow::before, .react-multiple-carousel__arrow:focus {
    background: transparent;
    color: black;
    position: absolute;
    outline: none;
}
.channelList{
    margin-top: 2% !important;
}

.channelListCarousel .react-multiple-carousel__arrow{
    top: 30%;
}
.popularListCarousel .react-multiple-carousel__arrow{
    top: 25%;
}
.channelListContainer{
    margin: 0px 0px 0px 15px;
    margin-bottom: 0;
}
.homePageMargin{
    margin-right: 4%;
}

.slick-prev{
    left: 5% !important;
    z-index: 100 !important;
    top: 32% !important;
}

.slick-next {
    right: 20px !important;
    top: 32% !important;
}
.slick-prev:before, .slick-next:before {
    opacity: 1 !important;
    font-size: 30px !important;
}

.gradient {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
.gradient:before {
background: transparent;
box-shadow: 0 0 0 1000p;
position: absolute;
height: 10%;
width: 1%;
content: '';
left: 0;
top: 0;
}
.viewMore > a{
    color: #4aa6e5 !important;
}

.channelListImg{
    width: 90%;
    height: 230px;
    margin: 0 auto;
    border-radius: 10px;
}
.channelListName{
    font-size: small;
    color: white;
    margin-top: 5px;
    text-transform: capitalize;   
}
.premiumTag{
    position: relative;
    top: 4vh;
    left: 6vw;
    margin-top: -22.4px;
    width: 40%;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right,#30A1E6, #15EFC4);
}
.vodPageMargin{
    margin-top: 8vh;
}
.channelSlider .slick-prev, .channelSlider .slick-next{
    top: 45% !important;
    right: 5vw !important;
}
.propularSlider .slick-prev, .propularSlider .slick-next{
    top: 40% !important;
    right: 5vw !important;
}
.popularListCarousel .react-multi-carousel-item{
    margin: 20px 25px !important;
    width: 180px !important;
}
.popularListDiv{
    float: left;
    padding-right: 5px !important;
    width: 100px;
    outline: none !important;
}
.popularListDiv > a, .channelListDiv > a{
    outline: none !important;
    text-decoration: none !important;
}
.popularListImg{
    width: 98%;
    height: 120%;
    border-radius: 10px;
}
.popularListName{
    text-align: left !important;
    font-weight: 900;
}
// Recommendation List CSS
.recomListContainer{
    color: white;
}
.recomHeading{
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
}
.recomLink{
    text-decoration: none !important;
}
.recomDiv{
    height: 105px;
    margin-bottom: 12px !important;
    cursor: pointer;
}
.recomImg{
    height: 100%;
    margin-right: 10px;
    border-radius: 8px;
    float: left;
}
.recomPlayBtn{
    width: 20px;
    position: relative;
    right: 115px;
    top: 40px;

}
.recomTextDiv{
    position: relative;
    bottom: 20px;
    height: 105px;
    overflow: hidden;
}
.recomTitle{
    width: 90% !important;
    font-size: small;
    font-weight: 600;
    color: white;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.grey{
    font-size: x-small;
    font-weight: 600;
    margin-bottom: 0 !important;
    color: #ccc;
}
.liveChannel{
    margin-left: 4% !important;
}
.contentCategory{
    width: 15px;
    position: relative;
    float: right;
    bottom: 8vh;
    right: 2vh;
    // z-index: 9999;
    border-radius: 12px;
    text-align: center;
    padding: 8px 2em 8px 1em;
    background-color: rgba(0, 0, 0, 0.5);
}
.contentCategory > img{
    width: 15px;
}
.headlinesContentCategory{
    bottom: 5vh !important;
}
.freeContentDiv{
    // visibility: hidden;
    // width: 0px;
    height: auto;
    position: relative;
    float: right;
    bottom: 4vh;
    right: 2vh;
    // z-index: 9999;
    border-radius: 12px;
    text-align: center;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
}
// .img-box:hover .freeContentDiv, .popularListDiv:hover .freeContentDiv{
//     visibility: visible;
// }
.freeContentDiv > p{
    color: white;
    font-size: x-small;
    font-weight: 900;
    margin: 0 !important;
}
.freeContentDivPL{
    bottom: 8vh !important;
}
@media only screen and (min-device-width: 320px) 
and (max-device-width: 900px) 
and (orientation: landscape){
    .MuiGrid-grid-sm-3 {
        max-width: 23% !important;
    }
    .liveChannelMarginLeft {
         margin-right: 0px;
    }
    .channelSlider .slick-prev, .channelSlider .slick-next{
        top: 37% !important;
        right: 5vw !important;
    }
    .propularSlider .slick-prev, .propularSlider .slick-next{
        top: 31% !important;
        right: 5vw !important;
    }
    .homePageMargin{
        margin-right: 1% !important;
    }
    .channelListContainer {
        margin: 0px;
    }
    .recomDiv{
        position: relative;
    }

    .recomPlayBtn {
        position: absolute;
        left: 50% !important;
        bottom: 50% !important;
    }
    .recomTextDiv {
        position: static; 
        bottom: 0px; 
        height: 0px; 
        overflow: visible;;
    }
    
    
}


@media only screen and (max-width: 1540px) {
    .contentCategory{
        bottom: 10vh !important;
    }
    .freeContentDivHL{
        bottom: 5vh !important;
    }
    .freeContentDivPL{
        bottom: 10vh !important;
    }
}
@media only screen and (min-width: 1540px) {

    .channelListImg {
        height: 200px;
    }
}

@media only screen and (min-width: 2000px) {

    .channelListImg {
        height: 250px;
    }
}

@media only screen and (min-width: 900px) {

    .recomendation_details_div{

        position: absolute;
        bottom: 0;
    }
    .homePageMargin{
        margin-right: 3% !important;
    }
    .channelListContainer{
        margin: 0px 0px 0px 0px;
    }
    .popularLeftFade{
        width: 12vw;
    }
    .popularRightFade{
        width: 10vw;
    }
    .channelLeftFade{
        width: 8vw;
    }
    .channelRightFade{
        width: 8vw;
    }
    .vodPageMargin{
        margin: 0px 0px 0px 15px !important;
    }
    .vodMarginTop{
        margin-top: 0vh !important;
    }
    
}


@media only screen and (max-width: 900px) {

    .channelListImg {
        height: 120px;
    }
    fadeleft {
        width: 40px;
        height: 95%;
        left: -5px;
    }
    faderight {
        width: 40px;
        right: -5px;

    }

    .popularLeftFade{
        width: 70px;
    }

    .channelLeftFade{
        width: 50px;
    }
}

@media only screen and (max-width: 480px) {
    .recomendation_details_div{
        margin-top: 4px;
    }

    .channelList{
        margin-top: -2% !important;
    }
    
    .recomPlayBtn{
        width: 20px;
        position: relative;
        right: 95px;
        top: 29px;
    }
    .channelListImg{
        width: 87%;
        height: 100px;
    }
    .premiumTag{
        margin-top: -2vh;
        width: 60%;
        top: 3vh;
        left: 7vw;
        font-size: xx-small;
    }
    .popularContainer{
        margin-top: 1vh;   
    }
    .channelSlider .slick-prev, .channelSlider .slick-next{
        top: 32% !important;
    }
    .propularSlider .slick-prev, .propularSlider .slick-next{
        top: 32% !important;
    }
    .vodPageMargin{
        margin-top: 0;
        margin-left: -3%;
    }
    .recomGridContainer{
        padding-left: 1vh;
    }
    .recomHeading{
        display: none;
    }
    .recomDiv{
        // width: 25vw !important;
        margin-bottom: 60px !important;
        cursor: pointer;
    }
    .recomImg{
        height: 100%;
        width: 125%;
        margin-right: 2px;
        border-radius: 8px;
        float: left;
    }
    .recomPlayBtn {
        width: 20px;
        position: relative;
        right: 0px;
        left: 8vw;
        top: -8vh;
    }
    .recomTitle{
        width: 100% !important;
        font-size: 7px !important;
        height: 100% !important;
        margin: 0 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* after 3 line show ... */
        -webkit-box-orient: vertical;
        // overflow: hidden;
    }
    .grey{
        font-size: 6px !important;
    }
    .recomTextDiv{
        bottom: 22px;
        height: auto;
    }
    .contentCategory{
        width: 10px;
        bottom: 8vh !important;
        right: 1vh;
        padding: 5px 15px 5px 5px;
    }
    .contentCategory > img{
        width: 10px;
    }
    .popularListName{
        text-overflow: ellipsis;
        height: 1.5em;
    }
    .freeContentDiv{
        padding: 3px 5px;
        right: 1vh;
    }
    .freeContentDivPL{
        bottom: 8vh !important;
    }
    .freeContentDiv > p{
        font-size: xx-small;
    }
    .freeContentDivRH{
        position: absolute;
        bottom: 2px !important;
        right: 2px !important;
    }
    .freeContentDivLH{
        right: 35px !important;
    }
    .freeContentDivLH > p{
        font-size: 8px !important;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 20px !important;
    }
  }

@media only screen and (max-width: 375px) {
    .channelListName {
       font-size: 11px;
    }
    .channelListImg{
        width: 85%;
        height: 80px;
    }
    .recomTitle{
        height: 100% !important;
    }
    .contentCategory{
        width: 10px;
        bottom: 9vh !important;
    }
    .freeContentDivPL{
        bottom: 9.5vh !important;
    }
  }
  @media only screen and (max-width: 320px) {
    .channelListName {
        font-size: 10px;
    }
    .channelListImg{
        width: 80%;
        height: 80px;
    }
    .recomImg{
        width: 140% !important;
    }
    .recomTitle{
        font-size: 7px !important;
        height: 100% !important;
    }
    .recomPlayBtn {
        left: 7vw;
        top: -9vh;
    }
    .grey{
        font-size: 6px !important;
    }
  }

  @media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px) 
and (orientation : landscape) {
    .MuiGrid-grid-sm-3 {
        max-width: 21% !important;
    }
    .recomImg {
        height: 62% !important;
    }
    .recomPlayBtn {
        top: 25px;
    }
}