fadeleft {
    position: absolute;
 
 

    display: block;
  
    width: 100px;
    height: 100%;

    z-index: 2;
  
    background-image: linear-gradient(to right, 
        rgba(20, 24, 42, 1), 
        rgba(20, 24, 42, 0)
    100%);
}
faderight {
    position: absolute;
    bottom: 0;
    right: 0;

    display: block;
  
    width: 150px;
    height: 100%;

    z-index: 1;
  
    background-image: linear-gradient(to left, 
        rgba(20, 24, 42, 1), 
        rgba(20, 24, 42, 0)
    100%);
}
.slick-next {
    z-index: 2 !important;
}

.react-multi-carousel-item {
    width: 150px !important;
    margin: 20px 10px;
}
.channelListDiv{
    text-align: center;
    display: inline-flex;
}
.react-multiple-carousel__arrow, .react-multiple-carousel__arrow:hover, .react-multiple-carousel__arrow::before, .react-multiple-carousel__arrow:focus {
    background: transparent;
    color: black;
    position: absolute;
    outline: none;
}
.channelList{
    margin-top: 2% !important;
}

.channelListCarousel .react-multiple-carousel__arrow{
    top: 30%;
}
.popularListCarousel .react-multiple-carousel__arrow{
    top: 25%;
}
.channelListContainer{
    margin: 0px 0px 0px 15px;
    margin-right: 4%;
    margin-bottom: 0;
}

.slick-prev{
    left: 5% !important;
    z-index: 100 !important;
    top: 32% !important;
}

.slick-next {
    right: 20px !important;
    top: 32% !important;
}
.slick-prev:before, .slick-next:before {
    opacity: 1 !important;

}

.gradient {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
.gradient:before {
background: transparent;
box-shadow: 0 0 0 1000p;
position: absolute;
height: 10%;
width: 1%;
content: '';
left: 0;
top: 0;
}
.viewMore > a{
    color: #4aa6e5 !important;
}

.channelListImg{
    width: 92%;
    height: 230px;
    margin: 0 auto;
    border-radius: 10px;
}
.channelListName{
    font-size: small;
    color: white;
    margin-top: 5px;
    text-transform: capitalize;   
}
.premiumTag{
    position: relative;
    top: 4vh;
    left: 6vw;
    margin-top: -22.4px;
    width: 40%;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right,#30A1E6, #15EFC4);
}
.vodPageMargin{
    margin-top: 8vh;
}
.channelSlider .slick-prev, .channelSlider .slick-next{
    top: 45% !important;
    right: 5vw !important;
}
.propularSlider .slick-prev, .propularSlider .slick-next{
    top: 40% !important;
    right: 5vw !important;
}
.popularListCarousel .react-multi-carousel-item{
    margin: 20px 25px !important;
    width: 180px !important;
}
.popularListDiv{
    float: left;
    padding-right: 5px !important;
    width: 100px;
    outline: none !important;
}
.popularListDiv > a, .channelListDiv > a{
    outline: none !important;
    text-decoration: none !important;
}
.popularListImg{
    width: 98%;
    height: 120%;
    border-radius: 10px;
}
.popularListName{
    text-align: left !important;
}
// Recommendation List CSS
.recomListContainer{
    color: white;
}
.recomHeading{
    font-weight: 600;
    font-size: large;
    text-transform: uppercase;
}
.recomLink{
    text-decoration: none !important;
}
.recomDiv{
    height: 105px;
    margin-bottom: 12px !important;
    cursor: pointer;
}
.recomImg{
    height: 100%;
    margin-right: 10px;
    border-radius: 8px;
    float: left;
}
.recomPlayBtn{
    width: 20px;
    position: relative;
    right: 115px;
    top: 45px;
}
.recomTextDiv{
    position: relative;
    bottom: 20px;
    height: 105px;
    overflow: hidden;
}
.recomTitle{
    width: 90% !important;
    font-size: small;
    font-weight: 600;
    color: white;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.grey{
    font-size: x-small;
    font-weight: 600;
    margin-bottom: 0 !important;
    color: #ccc;
}
.liveChannel{
    margin-left: 4% !important;
}


@media only screen and (min-device-width: 320px) 
and (max-device-width: 900px) 
and (orientation: landscape){
    .recomDiv{
        position: relative;
    }

    .recomPlayBtn {
        position: absolute;
        left: 50% !important;
        bottom: 50% !important;
    }
    .recomTextDiv {
        position: static; 
        bottom: 0px; 
        height: 0px; 
        overflow: visible;;
    }
    
    
}

@media only screen and (min-width: 1540px) {

    .channelListImg {
        height: 300px;
    }
}

@media only screen and (min-width: 2000px) {

    .channelListImg {
        height: 350px;
    }
}

@media only screen and (min-width: 900px) {

    .recomendation_details_div{

        position: absolute;
        bottom: 0;
    }
    .channelListContainer{
        margin: 0px 0px 0px 0px;
        margin-right: 3%;
    }
    
}


@media only screen and (max-width: 900px) {

    .channelListImg {
        height: 154px;
    }
    fadeleft {
        width: 40px;
        height: 95%;
        left: -5px;
    }
    faderight {
        width: 40px;
        right: -5px;

    }
}




@media only screen and (max-width: 480px) {
    .recomendation_details_div{
        margin-top: 4px;
    }

    .channelList{
        margin-top: -2% !important;
    }
    
    .recomPlayBtn{
        width: 20px;
        position: relative;
        right: 95px;
        top: 29px;
    }
    .channelListImg{
        width: 92%;
        height: 150px;
    }
    .premiumTag{
        margin-top: -2vh;
        width: 60%;
        top: 3vh;
        left: 7vw;
        font-size: xx-small;
    }
    .popularContainer{
        margin-top: 0vh;   
    }
    .channelSlider .slick-prev, .channelSlider .slick-next{
        top: 32% !important;
    }
    .propularSlider .slick-prev, .propularSlider .slick-next{
        top: 32% !important;
    }
    .vodPageMargin{
        margin-top: 0;
        margin-left: -3%;
    }
    .recomGridContainer{
        padding-left: 1vh;
    }
    .recomHeading{
        display: none;
    }
    .recomDiv{
        // width: 25vw !important;
        margin-bottom: 12px !important;
        cursor: pointer;
    }
    .recomImg{
        height: 100%;
        width: 125%;
        margin-right: 2px;
        border-radius: 8px;
        float: left;
    }
    .recomPlayBtn {
        width: 20px;
        position: relative;
        right: 0px;
        left: 8vw;
        top: -7vh;
    }
    .recomTitle{
        width: 100% !important;
        font-size: 10px !important;
        height: 100% !important;
        margin: 0 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* after 3 line show ... */
        -webkit-box-orient: vertical;
        // overflow: hidden;
    }
    .grey{
        font-size: 6px !important;
    }
    .recomTextDiv{
        bottom: 22px;
        height: auto;
    }

  }

@media only screen and (max-width: 375px) {
    .channelListName {
       font-size: 11px;
    }
    .channelListImg{
        width: 92%;
        height: 140px;
    }
    .recomTitle{
        height: 100% !important;
    }
  }
  @media only screen and (max-width: 320px) {
    .channelListName {
        font-size: 10px;
    }
    .channelListImg{
        width: 92%;
        height: 130px;
    }
    .recomImg{
        width: 140% !important;
    }
    .recomTitle{
        font-size: 7px !important;
        height: 100% !important;
    }
    .recomPlayBtn {
        left: 7vw;
        top: -9vh;
    }
    .grey{
        font-size: 7px !important;
    }
  }