.liveTvContainer{
    padding: 5% 5% 0 10%;
}
.heading{
    color: white;
    font-weight: 900;
    font-size: x-large;
    text-transform: uppercase;
    margin-bottom: 5%;
}
.channelImg{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.channelName{
    color: #4aa6e5;
    margin-top: 5px;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.loaderGI{
    // margin-bottom: 50%;
    position: relative;
    bottom: 10vh;
}