.profileContainer{
    padding: 5% 10%;
    color: white;
    text-transform: uppercase;
}
.profilePageHead{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    margin: 5vh 0;
}
.userInfoContainer{
    width: 100vw;
}
.profileHead{
    cursor: pointer;
}
.profileHeading{
    font-size: xx-large;
    font-weight: 900;
}
.downwardArrow{
    position: relative;
    top: 2vh;
}
.profileLabel{
    display: block;
}
.profileInput{
    width: 100%;
    height: 50%;
    text-align: center;
    margin-bottom: 5vh;
    border: none;
    border-radius: 4px;
    outline: none;
}
.profileBtnSubmit{
    height: 50%;
    width: 10%;
    background-color: #4AA6E5;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 5vh;
}
.pkgGridItem{
    margin: 0 5vw !important;
}
.subPkgHeading{
    font-size: x-large;
    font-weight: 900;
}
.subPkgDiv{
    margin: 0 2vw;
}
.pkgName{
    margin-top: 1vh;
}
.pkgSubBtn{
    width: 8vw;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    border-radius: 4px;
    outline: none;
    margin-bottom: 2vh;
    color: white;
}
.unsubBtn{
    background-color: red;
}
.subBtn{
    background-color: #4AA6E5;
}
.errorGridItem{
    text-align: center;
}
.errorIcon{
    color: #4AA6E5 !important;
}
.loginErrorText{
    text-transform: initial;
    color: white;
    font-size: large;
    margin-top: 2vh;
}
.cancelBtn{
    margin-right: 2vw;
}
.modalContainer{
    width: 40vw;
    height: 40vh;
    padding: 2% 5%;
    top: 30vh !important;
    left: 30vw !important;
    border-radius: 10px;
    position: relative;
    background-color: white;
}
.modalContainer > div{
    background-color: rgba(0, 0, 0, 0) !important;
}
.modalDiv{
    outline: none !important;
    color: #14182A;
}
.modalHeading{
    font-size: xx-large;
    font-weight: 900;
    text-transform: uppercase;
}
.modalBody{
    margin: 4vh 0;
    font-size: large;
    font-weight: 600;
}
.btnCloseModal{
    margin: 0 5vw;
    background-color: #14182A;
}
.loaderDiv{
    position: relative;
    top: 12vh;
    right: 2vw;
    outline: none;
}

@media only screen 
and (min-device-width : 400px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    .pkgSubBtn{
        width: 30% !important;
        height: 10% !important;
        padding: 1%;
    }


}
@media screen and (max-width: 1024px){
    .pkgSubBtn{
        width: 28%;
    }
}



@media screen and (max-width: 480px){
    .profilePageHead{
        margin-bottom: 12vh;
    }
    .pkgSubBtn{
        width: 28vw;
    }
    .modalContainer{
        width: 90vw;
        height: 30vh;
        top: 25vh !important;
        left: 5vw !important;
    }
    .modalBody{
        margin: 2vh 0;
        font-size: small;
    }
    .btnCloseModal{
        margin: 0 8vw;
    }
    .loaderDiv{
        top: 11vh;
        right: 5vw;
    }
}
@media screen and (max-width: 480px){
  
    .downwardArrow{
        top: 0vh;
    }
    .profilePageHead{
        font-size: medium !important;
    }

    .profileHeading{
        font-size: medium !important;
    }

    .profileLabel{
        font-size: 12px !important;
    }
    .profileInput::placeholder {
font-size: 12px ;
    }
   
    .profileBtnSubmit{
        width: 31%;

    }
}

@media screen and (max-width: 350px){
    .pkgSubBtn{
        width: 33vw;
    }

}