.vodCategoryContainer{
    padding: 5% 5% 5% 8%;
}
.headingVOD{
    color: white;
    font-weight: 900;
    font-size: x-large;
    text-transform: uppercase;
}
.vodGridItem{
    margin-bottom: 0 !important;
    height: 100%;
    cursor: pointer;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // transition: 0.3s;
}
.whiteColor{
    color: white;
}
.disabledColor{
    color: #777777;
}

.prevBTN{

    width: 4rem;
    font-size: 20px;
}
.nextBTN{

    width: 4rem;
    font-size: 20px;
}


.vodGridItem:hover{
    -moz-box-shadow: 0 0 10px #4aa6e5;
    -webkit-box-shadow: 0 0 10px #4aa6e5;
    box-shadow: 0 0 10px #4aa6e5;
}
.imgDiv{
    width: 100%;
    height: 150px;
}
.GridContainer-grid-9 {
    width: 100%;
}
.videoLogo{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}
.playBtn{
    position: relative;
    top: 60%;
    left: 42%;
}
.playBtn > img{
    width: 30px;
    z-index: 9999;
}
.vodDetailsDiv{
    // height: 150px;
    margin-top: 30px;
    padding: 5% 0;
    border-radius: 0 0 5px 5px;
    // background-color: white;
    color: white;
    font-weight: 100;
}
.title{
    height: 35px;
    overflow: hidden;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.source{
    // color: #ccc;
    font-size: smaller;
    float: left;
    text-transform: capitalize;
}
.source > a{
    color: #2691d5;
}
.daysAgo{
    color: #2691d5;
    text-transform: lowercase;
}
.MuiPagination-ul{
    margin: auto !important;
}

.paginationDiv{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 30px;
}
.pagination > ul > li > a, .pagination > ul > li > div{
    color: white !important;
}
.MuiPaginationItem-textPrimary.Mui-selected{
    background-color: #4aa6e5 !important;
}
.hashtagTopic{
    float: left;
    color: #4aa6e5;
    font-size: x-small;
    font-weight: 900;
    margin-right: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.videoPlayerDiv{
    margin-left: 7% !important;
}
.videoPlayerGI{
    width: 900px;
    height: 500px;
    margin-bottom: 20px !important;
    // float: left;
}
.viewCountGI{
    color: white;
    text-align: center;
    font-size: x-small;
    position: relative;
    right: 15px;
    height: 10px;
}
.titleGI{
    color: white;
    font-size: large;
    font-weight: 600;
}
.shareGI{
    text-align: center;
    color: white;
    position: relative;
    bottom: 5px;
    // display: none;
}
.recommendationGI{
    height: auto;
    max-width: 32% !important;
    overflow: hidden;
}

.title_div{
    display: flex;
    justify-content: space-between;
    margin-left: -2%;
    margin-top: 2%;
}
.title_hashTag_and_heading{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
}
.views_text{
    color: white;
    text-align: end;
}
.plyr__control__items{
    display: none !important;
}
.mainCatTitle{
    color: white;
}
@media only screen and (min-width: 1440px) {
    .vod_main_div{
        margin-left: 0% !important;
    }
}


@media only screen and (min-width: 801px) {
    .catSelect{
        width: 100% !important;
    }
    .vod_channel_margin_bottom{
        margin-top: 4%;
    }
}


@media only screen and (max-width: 800px) {
    .vod_channel_margin_bottom{
        margin-top: 2vh;
    }
    .catSelect{
        width: 100% !important;
    }
    .vodCategoryContainer{
        padding: 10% 5% 5% 8%;
    }
    .vod_page_margin{
        margin-top: 0px;
    }
    .headingVOD {
        font-size: 21px !important;
    }
    .catLabel{
        font-size: 14px !important;
    }
    .MuiInputBase-root{
        font-size: 10px !important;
    }
    .recommendationGI{
        margin-top: 65px !important;
        height: 180px;
    }
    .hashtagTopic{
        font-size: 11px;
    }
    .videoPlayerContainer{
        width: 100% !important;
        height: 100% !important;
       
    }
    .videoPlayerDiv{
        margin-left: 0.001% !important;
    
    }
    .videoPlayerGI {
        height: auto;
        margin-bottom: 5vh !important;
    }
    .recomImg {
        height: 80% !important;

    }
    .recommendationGI{
        max-width: 100% !important;
    }
    .MuiGrid-item {
        margin-left: -5px !important;
    }
 
    .title_hashTag_and_heading{
        font-size: 16px;
    }
    .source{
        font-size: x-small;
        // width: 5rem;
    }
    .views_text, .daysAgo{
        font-size: x-small;
    }

  .plyr__volume{
    width: 10%;
    min-width: inherit;
}

.plyr--video .plyr__controls button[data-plyr=captions]{
    display: none !important;
}

.plyr__volume input[type=range]{
    display: none !important;
}
  }
  @media screen and (max-width: 600px){
    .paginationDiv {
        left: 0%;
        top: 10px;
    }
}

  @media only screen and (max-width: 375px) {
    .hashtagTopic{
        font-size: 9px;
    }
    .title_hashTag_and_heading{
        font-size: 13px;
    }
    .recommendationGI{
        margin-top: 50px !important;
    }
  }
  @media only screen and (max-width: 320px) {
    .headingVOD {
        font-size: 18px !important;
    }
    .MuiInputBase-root {
        font-size: 8px !important;
    }
    .catLabel {
        font-size: 13px !important;
    }
    .hashtagTopic{
        font-size: 7px;
    }
    .title_hashTag_and_heading{
        font-size: 11px;
    }
 
  }



  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 900px) 
  and (orientation: landscape) {
      .MuiGrid-item {
          margin-left: 3px !important;
      }
      .videoPlayerGI {
          margin-right: 3% !important;
      }
      .GridItem-grid-10 {
          padding: 0 4% !important;
      }
      .recommendationGI{
          height: 255px !important;
          max-width: 100% !important;
          margin-top: 13% !important;
      }
      .vod_main_div{
          margin-left: 0% !important;
          // margin-right: 3% !important;
      }
      .videoPlayerDiv {
          margin-left: 0% !important;
      }
  
  }
  