.mainMtaContainer {
    height: 50px;
    background-color: #15142a;
    padding-left: 12px;
    padding-right: 12px;
    margin: -90px 0 0 0;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .mainMtaContainer {
        height: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .mainMtaContainer {
        height: 50px;
    }
}

.mtaHeader {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    height: 60px !important;
    justify-content: center;
    align-items: center;
}
  
.back-button{
    flex: 50%;
    position: absolute;
    left: 4%;
}

.back-button a {
    font-size: 16px;
    color: rgb(174, 174, 182);
}

.center-logo {
    text-align: center !important;
    margin-top: 10px;
    flex: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-logo img {
    max-width: 80px !important;
}

/*.center-logo{
    margin-top: 50px !important;
    margin-bottom: 30px !important;
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important;
}*/

.mtaAd {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-top: 10px !important;
}

.SearchBar{
    font-size: 17px;
    float: right;
    width: -50%;
    /* margin-bottom: 40px; */
    /* display: flex; */
    position: relative;
    flex: 50%; 
    /* position: absolute; */
    right: -70px; 
    top: -45px;
    /* margin-right: 20px; */
}

.SearchBar input{
    width:25%;
    background-color: #18142b;
    border:none;
    outline: none;
    color:white;
}

input::placeholder{
    color:white;
    font-size: 14px;
}


#Icon{
    outline:none;
    background-color: #18142b;
    color:grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.first-search{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
