.mainMtaContainer {
    height: 50px;
    background-color: #15142a;
    padding-left: 12px;
    padding-right: 12px;
    margin: -90px 0 0 0;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .mainMtaContainer {
        height: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .mainMtaContainer {
        height: 50px;
    }
}

.mtaHeader {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    height: 60px !important;
    justify-content: center;
    align-items: center;
}
  
.back-button{
    flex: 50%;
    position: absolute;
    left: 4%;
}

.back-button a {
    font-size: 16px;
    color: rgb(174, 174, 182);
}

.center-logo {
    text-align: center !important;
    margin-top: 10px;
    flex: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-logo img {
    max-width: 80px !important;
}

/*.center-logo{
    margin-top: 50px !important;
    margin-bottom: 30px !important;
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important;
}*/

.mtaAd {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-top: 10px !important;
}
  