.homeSections{
    position: relative;
    bottom: 20vh;
    margin-top: 40px;
    margin-bottom: -20vh;
}

@media only screen and (max-width: 800px) {
    .homeSections{
    bottom: 0vh !important;
    margin-top: 0px !important;
    margin-bottom: 0vh !important;
    }

}
