.homeSections{
    position: relative;
    bottom: 20vh;
    margin-top: 40px;
    margin-bottom: -20vh;
}
.infinite-scroll-component {
    overflow-x: inherit !important;
    overflow: initial !important;
}

.channelTag{
    margin-top: 20% !important;
}
.youtubeBanner{
    text-align: center;
}
.btnClose{
    cursor: pointer;
    margin-top: -17vh;
    margin-left: -1.5vw;
    border: 2px solid white;
    background: black;
    border-radius: 50%;
}

@media only screen and (max-width: 1350px){
    .youtubeBanner > a > img{
        width: 90% !important;
        margin-bottom: 3vh;
    }
}
@media only screen and (max-width: 950px){
    .btnClose{
        margin-top: -12vh;
        margin-left: -2vw;
    }
}
@media only screen and (max-width: 560px){
    .btnClose{
        margin-top: -8vh;
        margin-left: -4vw;
        font-size: large !important;
    }
}
@media only screen and (min-device-width: 320px) 
and (max-device-width: 900px) 
and (orientation: landscape){
    .homeSections{
        margin-left: 0px !important;
    }
}
@media only screen and (min-width: 900px) {
    .channelM-T{
        margin-top: 2%;
    }
    .Homeheadlines{
        margin-right: 25px;
    }
    .Homeheadlines .homeHeadlineViewMore{
        margin-right: -25px;
    }


}
@media only screen and (min-width: 801px) {
    .homeSections{
        margin-right: -2%;
        margin-left: 73px;
    }
}
@media only screen and (max-width: 900px) {
    .homeSections{
    bottom: 0vh !important;
    margin-top: 0px !important;
    margin-bottom: 0vh !important;
    }

}

