.homeSections{
    position: relative;
    bottom: 20vh;
    margin-top: 40px;
    margin-bottom: -20vh;
}
.infinite-scroll-component {
    overflow-x: hidden !important;
}

.channelTag{
    margin-top: 20% !important;
}
@media only screen and (min-device-width: 320px) 
and (max-device-width: 900px) 
and (orientation: landscape){
    .homeSections{
        margin-left: 0px !important;
    }
}
@media only screen and (min-width: 900px) {
    .channelM-T{
        margin-top: 2%;
    }
    .Homeheadlines{
        margin-right: 25px;
    }
    .Homeheadlines .homeHeadlineViewMore{
        margin-right: -25px;
    }


}
@media only screen and (min-width: 801px) {
    .homeSections{
        margin-right: -2%;
        margin-left: 73px;
    }
}
@media only screen and (max-width: 900px) {
    .homeSections{
    bottom: 0vh !important;
    margin-top: 0px !important;
    margin-bottom: 0vh !important;
    }

}

