.containerPP{
    user-select: none;
    color: white;
    padding: 5% 10%;
    justify-content: center;
}
.containerUnSub{
    display: flex;
    width: 100%;
    align-content: center;
    text-align: center;
    color: white;
    height: 92vh;
}
.font_size{
    font-size: large;
}
.unsubDiv > h3{
    margin-bottom: 5vh !important;
}
.btnSubmitUnsub{
    margin-right: 5vw !important;
    background-color: #30A1E6 !important;
}
.btnCancelUnsub{
    background-color: red !important;
}
.headingPP{
    font-size: xx-large;
    font-weight: 900;
}
strong, b{
    font-weight: 900 !important;
}
@media only screen and (min-width: 480px){
    .font_size{
        font-size: xx-large;
    }
}

@media only screen and (max-width: 480px){
    .notFoundImg{
        width: 100vw !important;
    }
}