.containerPP{
    user-select: none;
    color: white;
    padding: 5% 10%;
}
.containerUnSub{
    color: white;
    padding: 14.5vh 10%;
}
.headingPP{
    font-size: xx-large;
    font-weight: 900;
}
strong, b{
    font-weight: 900 !important;
}
@media only screen and (max-width: 480px){
    .notFoundImg{
        width: 100vw !important;
    }
}