.categoryDDContainer{
    float: right;
    color: white !important;
    // width: 12%;
}
.catLabel, .catSelect, .catMenuItem{
    color: white !important;
}
.catLabel{
    font-weight: bold !important;
    cursor: pointer;
}
.catSelect{
    width: 10vw;
}
.MuiPopover-paper{
    position: fixed !important;
    top: 180px !important;
}
@media screen and (max-width: 480px){
    // .categoryDDContainer {
    //     width: 28%;
    // }
    .catSelect{
        width: 25vw;
    }
    .catLabel{
        font-size: 12px !important;
    }
    .MuiPopover-paper{
        position: absolute !important;
        top: 100px !important;
    }
}