.categoryDDContainer{
    float: right;
    color: white !important;
    width: 12%;
}
.catLabel, .catSelect, .catMenuItem{
    color: white !important;
}
.catLabel{
    font-size: large !important;
    font-weight: bold !important;
}
.catSelect{
    width: 10vw;
}
.MuiPopover-paper{
    position: fixed !important;
    top: 168px !important;
}
@media screen and (max-width: 480px){
    .categoryDDContainer {
        width: 28%;
    }
    .catSelect{
        width: 25vw;
    }
    .MuiPopover-paper{
        position: absolute !important;
        top: 100px !important;
    }
}