.headingGridContainer{
    color: white;
    margin-bottom: 10px;
    padding: 0 2.6% 0 3.1% !important;
}
.heading_container{
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}
.zIndexClass{
    z-index: 10 !important;
}


.posterSlider{
    margin-bottom: 1%;
    margin-left: 4vw;
}
.slider_images_all{
    cursor: pointer !important;
}
.headingsPadding{
    padding: 0 4.5%;
}
.heading_text{
    font-weight: 900;
}
.view_more_text{
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.carouselDiv{
    height: 700px;
}
.headlinesContainer{
    margin-top: 3%;
}

.sportsContainer{
    margin-top: 1%;
}
.programsContainer{
    margin-top: 3%;
}
.headlinesSlider .slick-prev, .headlinesSlider .slick-next{
    top:31% !important;
    right: 5vw !important;
}
.headlinesPlayBtn{
    width: 30px;

}
.vod_page_margin_heading{
    margin-left: 4% !important;
    margin-top: 4vh;
}
.headlineTitle{
    font-size: small;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.headnlineSource{
    color: grey;
    font-size: 10px;
}
.hidden{
    display: none;
}

.absolute_position{
    position: absolute;
}

.relative_position{
    position: relative;
}

.carousel-indicators{
    bottom: 15vh !important;
}
.dramaMainDivMargin{
    margin-top: 2%;
}

.box1 {
    width: 100%;
    background-color: grey;
    height: 400px;
  }
  .dramas_image {
    width: 100%;
  }
  .height-100 {
    height: 100%;
  }

  .img_padding_2nd{
    padding-bottom: 2%;

}
  .img_padding_3rd{
    padding-top: 2%;
}

.img_padding_4th{
    padding-bottom: 3%;

}
  .img_padding_5th{
    padding-top: 3%;
}

@media only screen and (min-width: 1000px) {
    .vod_page_margin_heading{
        margin-left: 3.8% !important;
        margin-top: 4vh;
    }
   
   }

   @media only screen and (min-width: 1440px) {
    .vod_page_margin_heading{
        margin-left: 3.4% !important;
        margin-top: 4vh;
    }
   
   }

@media only screen and (min-width: 901px) {
 .vodFirstCol{
    height: 24.106vw;
 }
 .vodSecondCol{
    height: 12.053vw;
 }
// .heightForResponsive{
//     height: 100%;
// }

}




  @media only screen and (min-device-width: 320px) 
  and (max-device-width: 900px) 
  and (orientation: landscape) {
      .bellow_div_padding{
          margin-top: 2%;
          padding-bottom: 0% !important;
      }


   .program_lower_4 {
    margin-top: -6% !important;
}
.blockOneSpan {
    bottom: 52vh !important;
}
.play_btn_image{
    width: 25px !important;
}

.programsContainer{
    margin-top: 6% !important;
}
.carouselDiv {
    height: 100%;
}
.carousel-indicators{
    bottom: 15vh !important;
}
  
  }





  @media only screen and (max-width: 900px) {
    .vod_page_margin_heading{
        margin-left: -1% !important;
        margin-right: 4%;
        margin-top: 0vh ;
    }
    .headingGridContainer{
        color: white;
        margin-bottom: 0px;
    }
    .sectionContainers{
        padding: 0 8% 0 7% !important;

    }
    .vod_4th_img, .vod_5th_img{
        height: 100% !important;

    }
    .square {
        position: relative;
        width: 100%;
      }
      
      .square:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      
      .content {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .play_btn_image2{
          width: 24px !important;
      }
    .padding_5px{
        padding: 5px !important;
      }
    .carouselDiv {
        height: 100%;
    }
    .carousel-indicators{
        bottom: 4vh !important;
    }

    .posterSlider{
        margin: 6vh 19px 0 13px;
    }
    .vod_first_image {
        height: 83% !important;
    }
    .responsive_vod_div{
        display: block;
    }
    .vod_div{
        display: none;
    }

    .program_lower_4 {
        margin-top: -12% !important;
    }
    .play_btn_position4{
        bottom: 38% !important;
        left: 42% !important;
    }
    .play_btn_position3{
        bottom: 36%;
        left: 40%;
    }


  }

 




@media only screen and (max-width: 640px) {
  
    .vod_div{
        display: none;
    }
    .responsive_vod_div{
        display: block;
    }
    .headlinesSlider{
        padding-left: 3%;
    }
    .headlinesSlider .slick-prev, .headlinesSlider .slick-next{
        top: 21% !important;
    }
    .headlinesContainer{
        margin: 0 1%;
        margin-top: 7%;
    }
    .programsContainer{
        margin-top: 6% !important;
    }

    .heading_text{
        font-weight: 900;
        font-size: 16px;
    }
    .view_more_text{
        font-size: 11px;
  
    }
    .blockOne{
        width: 100%;
        height: 100% !important;
        border-radius: 5px;
    }

  .dramaBlockThree{
      width: 100% !important;
      height: 194px !important;
      
  }
  .dramaBlockFour{
    width: 100% !important;
    height: 194px !important; 
  }
  .play_btn_image{
      width: 28px !important;
  
  }

.blockOneImg{
    width: 35px !important;
    position: relative;
    bottom: 7vh !important;
    left: 45%;
}
.blockOneDiv{
   position: absolute;
}
.headlineText{
    font-size: 10px !important;
  
}
.marginZero{
    // font-size: 11px !important;
    margin: -4px !important;
}
.blockTwo{
    margin: 0px !important
}
.blockOne{
    width: 60px;
    height: 100%;
}
.blockOnesm{
    height: auto !important;
    margin-bottom: -93px !important;
}
.blockOneSpan{
    display: block;
    position: relative;
    bottom: 8.5vh !important;
}

.categoryText{
    margin-top: 3px !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}
.publish_date_and_channel{
    margin-left: 20px !important;
    margin-right: -5px !important;
    display: flex;
    justify-content: space-between;
}
.blockThreeSpan{
    position: relative;
    bottom: 50%;
    left: 45% !important;
}
.posterSlider{
    margin: 2vh 15px 0 13px;
}
.headnlineSource{
    font-size: xx-small;
}
  }
  @media only screen and (max-width: 480px) {
      .dramaMainDivMargin{
          margin-top: -3%;
      }
      .headlinesContainer {
        margin-top: 5%;
    }
    .sportsContainer{
        margin-top: 3% !important;
    }
    .headingGridContainer{
        padding: 0 2% 0 4.8% !important;
    }
      .play_btn_position2{
          left: 35% !important;
      }
    .blockOneDiv{
        display: none !important;

    }
    .categoryText{
        font-size: 9px !important;
    }
    .program_lower_4{
        margin-top: -9% !important;
    }
    .slider_images_all{
        border-radius: 5px;
        height: 210px !important;
    }

    .recomListContainer{
        margin-top: 5vh;
    }

   
  }
 
  @media only screen and (max-width: 425px) {
    .program_lower_4{
        margin-top: -9% !important;
    }

    .slider_images_all{
        height: 200px !important;
    }


  

  }
  @media only screen and (max-width: 414px) {
    .headlineText{
        font-size: 9px !important;
    }
    .program_lower_4{
        margin-top: -9% !important;
    }
    .slider_images_all{
        height: 198px !important;
    }
    .daysAgoText{
        margin-top: 4px !important;
        font-size: 8px !important;
        margin-bottom: -20px !important;
        color: #4aa6e5;
    }
    .channelNameText {
        font-size: 8px !important;
        margin-top: 0px !important;
    }


  }

  @media only screen and (max-width: 413px) and (min-width: 411px)  {
    .headlinesContainer {
        margin-top: 5% !important;
    }
    .sportsContainer{
        margin-top: 1% !important;
    }
    .programsContainer{
        margin-top: 4% !important;
    }
    .daysAgoText{
        margin-top: 4px !important;
        font-size: 8px !important;
        margin-bottom: -20px !important;
        color: #4aa6e5;
    }
    .channelNameText {
        font-size: 8px !important;
        margin-top: 0px !important;
    }

    .program_lower_4{
        margin-top: -9% !important;
    }
    .slider_images_all{
        height: 198px !important;
    }



  }

  @media only screen and (max-width: 375px) {
    .headlinesContainer {
        margin-top: 5% !important;
    }
    .sportsContainer{
        margin-top: -1% !important;
    }
    .programsContainer{
        margin-top: 4% !important;
    }
    .program_lower_4{
        margin-top: -9% !important;
    }
    .slider_images_all{
        height: 195px !important;
    }

    .headlineText{
        font-size: 8px !important;
    }
    .marginZero{
        // font-size: 9px !important;
        margin: -4px !important;
    }
    .blockOneSpan{
        display: block;
        position: relative;
        bottom: 7.5vh !important;
    }
    .categoryText{
        margin-top: 3px !important;
    }
    .publish_date_and_channel{
        margin-right: -20px !important;
        display: flex;
        justify-content: space-between;
    }
    .daysAgoText{
        margin-top: 4px !important;
        font-size: 8px !important;
        margin-bottom: -20px !important;
        color: #4aa6e5;
    }
    .channelNameText {
        font-size: 8px !important;
        margin-top: 0px !important;
    }

  }
  @media only screen and (max-width: 360px) {

    .daysAgoText{
        margin-top: 4px !important;
        font-size: 8px !important;
        margin-bottom: -20px !important;
        color: #4aa6e5;
    }
    .channelNameText {
        font-size: 8px !important;
        margin-top: 0px !important;
    }
    .slider_images_all{
        height: 195px !important;
    }
    .program_lower_4{
        margin-top: -9% !important;
    }

  }
  @media only screen and (max-width: 320px) {
    .headlinesContainer {
        margin-top: 5% !important;
    }
    .sportsContainer{
        margin-top: -4% !important;
    }
    .programsContainer{
        margin-top: 4% !important;
    }
    .program_lower_4{
        margin-top: -9% !important;
    }
    .slider_images_all{
        height: 165px !important;
    }

    .heading_text{
        font-weight: 900;
        font-size: 13px;
    }
    .view_more_text{
        font-size: 11px;
  
    }
    .headlinesContainer{
        margin: 0 2%;
    }
  
    .marginZero{
        margin: -4px !important;
    }
    .blockOneSpan{
        display: block;
        position: relative;
        bottom: 7.5vh !important;
    }
    .headlineText{
        font-size: 7px !important;
    }
    .categoryText{
        font-size: 7px !important;
        margin-top: 3px !important;
    }
    .daysAgoText{
        margin-top: 2px !important;
        font-size: 8px !important;
        margin-bottom: -10px !important;
        color: #4aa6e5;
    }
    .channelNameText {
        font-size: 8px !important;
        margin-top: 0px !important;
    }

    .publish_date_and_channel{
        margin-right: -30px !important;
        display: flex;
        justify-content: space-between;
    }
    .headnlineSource{
        color: grey;
        font-size: 8px;
    }

  }
 
  .drama_lower_4{
    display: flex;
}
.program_lower_4{
    display: flex;
    margin-top: -9%;
}

.drama_pic_responsive_1, .drama_pic_responsive_2, .drama_pic_responsive_3, .drama_pic_responsive_4{
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    height: 70px;
    border-radius: 4px;
}


  

.sectionContainers{
    padding: 0 6% 0 3%;
    position: relative !important;
    // margin-top: -5%;
}


.img_radius{
    border-radius: 5px;
}
.dramaBlockThree{
    height: 100%;
}
.dramaBlockFour{
    // width: 100%;
    height: 90%;
    overflow-y: hidden;
}
.blockOne{
    width: 100%;
    height: 90%;
}
.blockOneSpan{
    display: block;
    position: relative;
    bottom: 20vh;
}
.blockOneImg{
    width: 50px;
    position: relative;
    bottom: 10vh;
    left: 45%;
}
.blockOneDiv{
    width: 100%;
    height: 22%;
    color: white;
    background: #00000075;
    display: flex;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    padding: 2%;
    border-radius: 0 0 4px 5px
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.marginZero{
    margin: 0px;
}
.headlineText{
    font-size: small;
    font-weight: bold;
    text-transform: capitalize;
}
.daysAgoText{
    font-size: small;
    color: #4aa6e5;
    width: 95px !important;
}
.categoryText{
    font-size: smaller;
    font-weight: 100;
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}
.channelNameText{
    font-size: small;
    font-weight: 100;
    text-transform: capitalize;
}
.blockTwo{
    width: 100%;
    height: 74%;
}
.blockTwoSpan{
    position: relative;
    bottom: 50%;
    left: 45%;
}
.blockTwoSpan > img{
    width: 25px;
}
.blockThree{
    width: 90%;
    height: 185px;
}
.blockThreeSpan{
    position: relative;
    bottom: 84%;
    left: 40%;
}
.blockFourSpan{
    position: relative;
    bottom: 50%;
    left: 40%;
}
.blockFourSpan > img{
    width: 25px;
}
.blockThreeSpan > img{
    width: 25px;
}
.vodGI{
    cursor: pointer;
}
.title_and_discription, .publish_date_and_channel{
    display: flex;
    flex-direction: column;

    
}

.title_and_discription{
    width: 70%;
}
.vod_first_image{
    width: 100%;
    height: 80%;
}
.vodBlockThree{
    width: 100% !important;
    height: 84% !important;
    margin-top: -9% !important;
}
.vodBlockFour{
    height: 143%;
}

.vodBlockFive{
    margin-top: 45%;
    height: 86%;
}

.responsives_block_one_span{
    height: 10vh;
    color: white;
    background: #00000075;
    display: flex;
    top: -14.5vh;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}


