.posterSlider{
    margin-bottom: 1%;
    margin-left: 73px;
}
.headingsPadding{
    padding: 0 4.5%;
}
.carouselDiv{
    height: 700px;
}
.carousel-indicators{
    bottom: 15vh !important;
}
.sectionContainers{
    padding: 0 10%;
    // margin-top: -5%;
}
.programsContainer{
    height: 430px;
    position: relative;
    bottom: 80px;
}
.childImg{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.dramaBlockThree{
    height: 142px;
}
.dramaBlockFour{
    width: 90%;
    height: 392px;
    overflow-y: hidden;
}
.blockOne{
    width: 605px;
    height: 395px;
}
.blockOneSpan{
    display: block;
    position: relative;
    bottom: 20vh;
}
.blockOneImg{
    width: 50px;
    position: relative;
    bottom: 10vh;
    left: 45%;
}
.blockOneDiv{
    height: 10vh;
    color: white;
    background: #00000075;
    display: block;
    top: 3.5vh;
    position: relative;
    padding: 15px;
    border-radius: 0 0 8px 8px
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.marginZero{
    margin: 0;
}
.headlineText{
    font-size: small;
    font-weight: bold;
    text-transform: capitalize;
}
.daysAgoText{
    font-size: small;
    color: #4aa6e5;
}
.categoryText{
    font-size: smaller;
    font-weight: 100;
    text-transform: capitalize;
    width: 80%;
}
.channelNameText{
    font-size: small;
    font-weight: 100;
    text-transform: capitalize;
}
.blockTwo{
    width: 100%;
    height: 185px;
}
.blockTwoSpan{
    position: relative;
    bottom: 50%;
    left: 45%;
}
.blockTwoSpan > img{
    width: 25px;
}
.blockThree{
    width: 90%;
    height: 185px;
}
.blockThreeSpan{
    position: relative;
    bottom: 50%;
    left: 40%;
}
.blockThreeSpan > img{
    width: 25px;
}
.vodGI{
    cursor: pointer;
}