.MuiPaper-root{
    background-color: #14182a !important;
}
.MuiSvgIcon-root{
    color: white !important;
}
.MuiIconButton-root{
    padding-top: 22px !important;
}
.MuiListItem-gutters {
    padding-left: 25px !important;
}
.sidebarTabs{
    padding: 5px;
    min-width: 24px;
}
.activeTab{
    background-image: linear-gradient(to right,#30A1E6, #15EFC4);
    border-radius: 8px;
    min-width: 24px !important;
    margin-right: 22px;
}
.sidebarTabsText{
    margin-left: 10px
}
.drawerMobile .makeStyles-hidePaper-8{
    position: absolute !important;
}
@media screen and (max-width: 480px){
}