.MuiPaper-root{
    background-color: #14182a !important;
}
.MuiSvgIcon-root{
    color: white !important;
}
.MuiIconButton-root{
    padding-top: 22px !important;
}
.MuiListItem-gutters {
    padding-left: 25px !important;
}
.activeTabImg{
    // border-radius: 8px;
    // width: 40px;
    // position: relative;
    // right: 10px;
}
.sidebarTabs{
    padding: 5px;
}
.activeTab{
    padding: 2px;
    background-image: url("../../Assets/searchBg.png");
    border-radius: 8px;
    min-width: 24px !important;
    margin-right: 30px;
    // position: relative;
    // width: 2px;
    // right: 42px;
}
.sidebarTabsText{
    margin-left: 10px
}
.drawerMobile .makeStyles-hidePaper-8{
    position: absolute !important;
}
@media screen and (max-width: 480px){
    // .drawer{
    //     display: none !important;
    // }
}