$footerBg: url('../../Assets/footer-bg.png');

.footer{
  background-image: $footerBg;
  width: 100vw;
  height: 55vh;
  padding: 0 10%;
}
.footer{
  position: static;
  width: 100%;
  bottom: 0;
}
.footerContainerOne{
  text-align: center;
  padding-bottom: 4%;
}
.footerContainerTwo{
  color: white;
}
.footerHeadings{
  color: #4aa6e5;
  font-weight: 900;
  text-transform: uppercase;
}
.footerPs{
  font-size: small;
  white-space: pre-wrap;
}
.footerPlaystoreImg{
  margin-top: 10px;
}
.footerContainerThree{
  text-align: center;
  color: white;
  font-size: small;
}
.contactUsImg{
  float: left;
  border-radius: 5px;
  margin-right: 5px;
}
.contactUsPs{
  float: left;
  font-size: x-small;
  margin-top: 5px;
}
.followUsP{
  float: left;
  font-size: large;
  font-weight: 600;
}

@media only screen and (max-width: 640px) {
  .footerHeadings{
    font-size: 12px;
  }
  .footerPs{
    font-size: 11px;
  }
  .footerPlaystoreImg{
    width: 25%;
  }
}
