.stickyBannerContainer{
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1vh 0 0 4vw;
    z-index: 999999;
    color: white;
}
.centerElementVertical{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sbLogoImg{
    width: 15vw;
    height: 5vh;
    margin-left: -60px !important;
}
.sbBtnGrid{
    margin-left: -15px !important;
    position: relative;
}
.sbBtn{
    background-color: #4aa6e5;
    left: 10vw;
}
.sbCloseIcon{
    position: absolute;
    top: 0;
    right: 2vw;
}