// .liveVP .plyr__controls .plyr__controls__item.plyr__time, .liveVP .plyr__progress input[type=range], .liveVP .plyr__progress__buffer{
//     display: none !important;
// }
.videoPlayerContainer{
    width: 70vw !important;
    padding: 0 10% !important;
}
.channelTitle{
    margin-left: 1vw;
}



@media only screen and (min-width: 481px) {
    .videoPlayerContainer{
            width: 100% !important;
            padding-left: 4% !important;
            padding-right: 4% !important;
    }
    .channelTitle{
        margin-left: 2vw;
    }
  }
  @media only screen and (min-width: 1280px) and (max-height: 801px) and 
(orientation : landscape){
    .videoPlayerContainer{
        width: 70vw !important;
        padding: 0 4% 0 7% !important;
    }
}

@media only screen and (max-width: 480px) {
    .videoPlayerContainer{
            width: 100vw !important;
            padding: 4vw !important;
    }
    .channelTitle{
        margin-left: 2vw;
    }
  }

