// .liveVP .plyr__controls .plyr__controls__item.plyr__time, .liveVP .plyr__progress input[type=range], .liveVP .plyr__progress__buffer{
//     display: none !important;
// }
.vjs-seek-to-live-text {
    display: none !important;
}

.videoPlayerContainer{
    width: 100vw !important;
    padding: 0 10% !important;
    margin-top: -100px !important;
    margin-left: -20vw !important;
    text-align: left !important;
}
.mta_player_header {
    margin-bottom: -15px !important ; 
}
.channelTitle{
    margin-left: 1vw;
}
.ytVP{
    width: 60vw;
    height: 60vh;
}


/* Media Query for Phones */
@media (max-width: 480px) {
    .videoPlayerContainer {
        width: 100% !important;
        padding: 0 5% !important;
        margin-top: -60px !important;
        margin-left: 0 !important;
    }
    .channelTitle {
        margin-left: 0.5vw; 
    }
    .ytVP {
        width: 100%;
        height: 30vh !important;
    }
}

/* Media Query for Tablets */
@media (min-width: 481px) and (max-width: 768px) {
    .videoPlayerContainer {
        padding: 0 8% !important;
        margin-top: -60px !important;
        margin-left: 0px !important;
    }

    .channelTitle {
        margin-left: 2vw;
    }
    .ytVP {}
}

/* Media Query for Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .videoPlayerContainer {
        padding: 0 12% !important;
        margin-top: -70px !important;
        margin-left: 0px !important;
    }
    .channelTitle {
        margin-left: 3vw;
    }
    .ytVP {}
}

/* Media Query for Monitors */
@media (min-width: 1025px) and (max-width: 1440px) {
    .videoPlayerContainer {
        padding: 0 15% !important;
    }
    .channelTitle {
        margin-left: 4vw;
    }
    .ytVP {}
}

/* Media Query for TVs */
@media (min-width: 1441px) {
    .videoPlayerContainer {
        padding: 0 20% !important;
    }
    .channelTitle {
        margin-left: 5vw;
    }
    .ytVP {}
}