.App {
  text-align: center;
}
.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #15142a;
}


.customerCareIcon, .whatsappIcon, .playStoreRoundIcon {
  z-index: 999999;
}
.playStoreRoundImg{
  width: 40px;
  height: 40px;
}

.light-bg {
  background-color: white !important;
}

.mta2_header {
  color: #87CEEB;
  font-weight: 700 !important;
  padding: 5px !important;
  font-size: 25px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.marginBottom2vh {
  margin-bottom: 2vh !important;
}

@media screen and (max-width: 480px){
  .mta_header{
    font-size: 18px !important;
  }
  .mta2_header{
    font-size: 18px !important;
  }

}

.mta_footer_div {
  text-align: center;
  padding: 15px ;
  background-color: #15142a;
  margin-top: 50px !important;
}

.mta_ad2 {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

@media only screen and (min-device-width: 320px) 
and (max-device-width: 900px) 
and (orientation: landscape){
  .customerCareIcon, .whatsappIcon{
    display: none;
  }
}