.App {
  text-align: center;
}

.customerCareIcon, .whatsappIcon{
  z-index: 3;
}
@media only screen and (min-device-width: 320px) 
and (max-device-width: 900px) 
and (orientation: landscape){
  .customerCareIcon, .whatsappIcon{
    display: none;
  }
}