body {
  margin: 60px 0 0 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  background-color: #14182a !important;
  backface-visibility: hidden;
  height: 100%;
  width: 101%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
button{
  outline: none !important;
}
.floatingLogo{
  font-size: 35px !important;
}
.whatsappLogo{
  font-size: 40px !important;
}
.customerCareIcon{
  position: fixed;
  right: 2vw;
  bottom: 9vh;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  /* color: green; */
}
.whatsappIcon{
  position: fixed;
  padding: 2px;
  right: 2vw;
  bottom: 2vh;
  color: green;
  background-color: white;
  border: 1px solid white;
  font-weight: 900;
  border-radius: 5px;
  /* font-size: 35px; */
}