/* Index.css */
body {
  margin: 60px 0 0 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  background-color: #14182a !important;
  backface-visibility: hidden;
  height: 100%;
  width: 101%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/*change theme when source=mta2
body[source="mta2"] {
  background-color: white !important;
  margin: 60px 0 0 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  backface-visibility: hidden;
  height: 100%;
  width: 101%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}*/

body::-webkit-scrollbar {
  display: none;
}
button{
  outline: none !important;
}
.floatingLogo{
  font-size: 35px !important;
}
.whatsappLogo{
  font-size: 40px !important;
}
.customerCareIcon{
  position: fixed;
  right: 2vw;
  bottom: 13vh;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  /* color: green; */
}
.whatsappIcon{
  position: fixed;
  padding: 2px;
  right: 2vw;
  bottom: 2vh;
  color: green;
  background-color: white;
  border: 1px solid white;
  font-weight: 900;
  border-radius: 5px;
  /* font-size: 35px; */
}
.playStoreRoundIcon{
  position: fixed;
  right: 2vw;
  bottom: 17vh;
  border-radius: 50%;
  background-color: white;
  /* color: green; */
}
.marginRight5px {
  margin-right: 10px !important;
}